.certification-detail {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.certification-detail h2 {
  margin-bottom: 20px;
}

.certification-detail label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.certification-detail input,
.certification-detail textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.certification-detail progress {
  width: 100%;
  margin-top: 10px;
}

.certification-detail img.certification-image {
  max-width: 100%;
  margin-top: 10px;
}

.certification-detail .image-upload-label {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  color: #555;
}

.certification-detail .remove-image-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.certification-detail .remove-image-button-small:hover {
  background-color: #f797a0;
}

.certification-detail button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.certification-detail button:hover {
  background-color: #e7e7e7;
}
