.new-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-page-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #19879e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.new-page-button:hover {
  background-color: #165f72;
}
